.nodemap-map-render  {
	margin:0;
	padding:0;
	border:0;
	outline:0;
}
.nodemap-map-render td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
}
.nodemap-map-render table {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	border-collapse:separate;
}
.nodemap-map-render span {
	font-size:0.8em;
	font-weight:bold;
	color:#000;
	display:inline-block;
	width:120px;
}